In [4]:
class student:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [5]:
p1=student("sam",25)
print(p1.name)
print(p1.age)

sam
25

In [6]:
class employee():
    def __init__(self,name,age,id,salary):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
        
    def display(self):
        print("inside display function")
        print(self.name,self.age,self.id,self.salary)

In [7]:
emp1=employee("john",26,2888,2345)
emp2=employee("andrew",30,2345,5657)
emp1.display()
emp2.display()

inside display function
john 26 2888 2345
inside display function
andrew 30 2345 5657

In [10]:
class company:
    def __init__(self,name,location,number_of_employee):
        self.name=name
        self.location=location
        self.number_of_employee=number_of_employee

In [11]:
p=company("rah","gkp",67)
print(p.name)
print(p.location)
print(p.number_of_employee)

rah
gkp
67